In [ ]:
!pip3 install sqlalchemy

In [38]:
import os
import json
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy import text
from sqlalchemy import exc

In [ ]:
#Transcation_Aggerate

Trans_Agg_Path="C:/Users/subash/OneDrive/Guvi/Project/PhonePe/pulse/data/aggregated/transaction/country/india/state/"

Trans_Agg_list= os.listdir(Trans_Agg_Path)

Column1={"States":[], "Years":[], "Quarter":[], "Transcation_type": [], "Transcation_count": [], "Transcation_amount":[]}

for state in Trans_Agg_list:
    states_details = Trans_Agg_Path+state+"/"
    Agg_Year_list = os.listdir(states_details) #convert the string into location path
    #print(Agg_Year_list)

    for year in Agg_Year_list:
        cur_year = states_details+year+"/"
        Agg_File_List = os.listdir(cur_year)
        #print(Agg_File_List)

        for file in Agg_File_List:
            cur_file = cur_year + file
            data = open(cur_file,"r")

            pri=json.load(data)

            for i in pri["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                Column1["Transcation_type"].append(name)
                Column1["Transcation_count"].append(count)
                Column1["Transcation_amount"].append(amount)
                Column1["States"].append(state)
                Column1["Years"].append(year)
                Column1["Quarter"].append(int(file.strip(".json")))

            
Column1

In [70]:
for i in pri["data"]["transactionData"]:
    name=i["name"]
    count=i["paymentInstruments"][0]["count"]
    amount=i["paymentInstruments"][0]["amount"]
    Column1["Transcation_type"].append(name)
    Column1["Transcation_count"].append(count)
    Column1["Transcation_amount"].append(amount)
    Column1["States"].append(state)
    Column1["Years"].append(year)
    Column1["Quarter"].append(int(file.strip(".json")))

In [71]:
Agg_Transcation=pd.DataFrame(Column1)

In [ ]:
Agg_Transcation

In [ ]:
#User_Aggregation_Details

User_Aggre_Path="C:/Users/subash/OneDrive/Guvi/Project/PhonePe/pulse/data/aggregated/user/country/india/state/"

Column2={"States":[],"Year":[],"Quarter":[],"Brand":[],"Transcation_count":[],"Percentage":[]}

for state in Trans_Agg_list:
    states_details = User_Aggre_Path+state+"/"
    Agg_Year_list = os.listdir(states_details) #convert the string into location path
    #print(Agg_Year_list)

    for year in Agg_Year_list:
        cur_year = states_details+year+"/"
        Agg_File_List = os.listdir(cur_year)
        #print(Agg_File_List)

        for file in Agg_File_List:
            cur_file = cur_year + file
            data = open(cur_file,"r")

            useaggpth=json.load(data)
            print(useaggpth)

            try:
               
                for i in useaggpth["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    Column2["Brand"].append(brand)
                    Column2["Transcation_count"].append(count)
                    Column2["Percentage"].append(percentage)
                    Column2["States"].append(state)
                    Column2["Year"].append(year)
                    Column2["Quarter"].append(int(file.strip(".json")))

            except:
                pass

In [8]:
print(useaggpth["data"]["usersByDevice"])

None

In [76]:
User_aggerator_Transcation=pd.DataFrame(Column2)

In [ ]:
User_aggerator_Transcation

In [34]:
#Map Transcation Path
Map_Transcation_Path = "C:/Users/subash/OneDrive/Guvi/Project/PhonePe/pulse/data/map/transaction/hover/country/india/state/"

Map_Transcation_List= os.listdir(Map_Transcation_Path)

Table3={"States":[],"Year":[],"Quarter":[],"District":[],"Transcation_count":[],"Transcation_amount":[]}

for state in Map_Transcation_List:
    states_details = Map_Transcation_Path+state+"/"
    Agg_Year_list = os.listdir(states_details) #convert the string into location path
    #print(Agg_Year_list)

    for year in Agg_Year_list:
        cur_year = states_details+year+"/"
        Agg_File_List = os.listdir(cur_year)
        #print(Agg_File_List)

        for file in Agg_File_List:
            cur_file = cur_year + file
            data = open(cur_file,"r")

            maptrnspth=json.load(data)

            for i in maptrnspth["data"]["hoverDataList"]:
                    name=i["name"]
                    count=i['metric'][0]['count']
                    amount=i['metric'][0]['amount']
                    Table3["District"].append(name)
                    Table3["Transcation_count"].append(count)
                    Table3["Transcation_amount"].append(amount)
                    Table3["States"].append(state)
                    Table3["Year"].append(year)
                    Table3["Quarter"].append(int(file.strip(".json")))

In [35]:
Map_Transcation_Aggera=pd.DataFrame(Table3)

In [ ]:
Map_Transcation_Aggera

In [ ]:
print(maptrnspth['data']['hoverDataList'][0]['name'])

print(maptrnspth['data']['hoverDataList'][0]['metric'][0]['count'])

print(maptrnspth['data']['hoverDataList'][0]['metric'][0]['amount'])

In [14]:
#Map User Agger 

Map_User_Agger_Path="C:/Users/subash/OneDrive/Guvi/Project/PhonePe/pulse/data/map/user/hover/country/india/state/"

Map_User_Agger_List=os.listdir(Map_User_Agger_Path)

Table4={"States":[],"Year":[],"Quarter":[],"District":[],"Registered_Users":[],"App_Opens":[]}

for state in Map_User_Agger_List:
    states_details = Map_User_Agger_Path+state+"/"
    Agg_Year_list = os.listdir(states_details) #convert the string into location path
    #print(Agg_Year_list)
    
    for year in Agg_Year_list:
        cur_year = states_details+year+"/"
        Agg_File_List = os.listdir(cur_year)
        #print(Agg_File_List)

        for file in Agg_File_List:
            cur_file = cur_year + file
            data = open(cur_file,"r")

            Mapuseragg=json.load(data)

            for i in Mapuseragg["data"]["hoverData"].items():
                    district=i[0]
                    registeredUsers=i[1]["registeredUsers"]
                    appOpens=i[1]["appOpens"]
                    Table4["District"].append(district)
                    Table4["Registered_Users"].append(registeredUsers)
                    Table4["App_Opens"].append(appOpens)
                    Table4["States"].append(state)
                    Table4["Year"].append(year)
                    Table4["Quarter"].append(int(file.strip(".json")))

In [ ]:
Mapuseragg

In [15]:
Map_User_Agger_Table=pd.DataFrame(Table4)

In [45]:
Map_User_Agger_Table

,States,Year,Quarter,District,Registered_Users,App_Opens
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
16831,west-bengal,2023,3,nadia district,1544294,12674328
16832,west-bengal,2023,3,birbhum district,974363,18961683
16833,west-bengal,2023,3,purba medinipur district,1530289,18593769
16834,west-bengal,2023,3,maldah district,1091634,28020285
16835,west-bengal,2023,3,darjiling district,637665,21732323

In [ ]:
for i in Mapuseragg["data"]["hoverData"].items():
    #print(i[0])
    print(i[1]["registeredUsers"])
    #print(i[1]["appOpens"])

In [79]:
#Top Transcation Path
Top_Transcation_Path = "C:/Users/subash/OneDrive/Guvi/Project/PhonePe/pulse/data/top/transaction/country/india/state/"

Top_Transcation_List= os.listdir(Top_Transcation_Path)

Table5={"States":[],"Year":[],"Quarter":[],"District":[],"Transcation_count":[],"Transcation_amount":[]}

for state in Top_Transcation_List:
    states_details = Top_Transcation_Path+state+"/"
    Agg_Year_list = os.listdir(states_details) #convert the string into location path
    #print(Agg_Year_list)

    for year in Agg_Year_list:
        cur_year = states_details+year+"/"
        Agg_File_List = os.listdir(cur_year)
        #print(Agg_File_List)

        for file in Agg_File_List:
            cur_file = cur_year + file
            data = open(cur_file,"r")

            toptrnspth=json.load(data)

            for i in toptrnspth["data"]["districts"]:
                name=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                Table5["District"].append(name)
                Table5["Transcation_count"].append(count)
                Table5["Transcation_amount"].append(amount)
                Table5["States"].append(state)
                Table5["Year"].append(year)
                Table5["Quarter"].append(int(file.strip(".json")))

In [80]:
Top_Transcation_List=pd.DataFrame(Table5)

In [82]:
#Top User Transcation
Top_User_Path = "C:/Users/subash/OneDrive/Guvi/Project/PhonePe/pulse/data/top/user/country/india/state/"

Top_User_Path_List=os.listdir(Top_User_Path)

Table61={"States":[],"Year":[],"Quarter":[],"Disname":[],"Dreguser":[]}

Table62={"Pincode_Name":[],"Pincode_Reguser":[]}

for state in Top_User_Path_List:
    states_details = Top_User_Path+state+"/"
    Agg_Year_list = os.listdir(states_details) #convert the string into location path
    #print(Agg_Year_list)

    for year in Agg_Year_list:
        cur_year = states_details+year+"/"
        Agg_File_List = os.listdir(cur_year)
        #print(Agg_File_List)

        for file in Agg_File_List:
            cur_file = cur_year + file
            data = open(cur_file,"r")

            topuserpth=json.load(data)

            #topuserdict=dict(topuserpth["data"])

            for i in topuserpth["data"]["districts"]:
                dname=i["name"]
                #print(dname)
                dreguser=i["registeredUsers"]
                #print(dreguser)
                Table61["Disname"].append(dname)
                Table61["Dreguser"].append(dreguser)
                Table61["States"].append(state)
                Table61["Year"].append(year)
                Table61["Quarter"].append(int(file.strip(".json")))

            for i in topuserpth["data"]["pincodes"]:
                pname=i["name"]
                preguser=i["registeredUsers"]
                Table62["Pincode_Name"].append(pname)
                Table62["Pincode_Reguser"].append(preguser)

Top_User_Table1=pd.DataFrame(Table61)

Top_User_Table2=pd.DataFrame(Table62)

Top_User_Table=Top_User_Table1.join(Top_User_Table2)

In [ ]:
Top_User_Table

In [ ]:
Top_User_Table

In [26]:

Table6={"States":[],"Year":[],"Quarter":[],"Disname":[],"Dreguser":[],"Pincode_Name":[],"Pincode_Reguser":[]}



for i in topuserpth["data"]["districts"]:
            dname=i["name"]
            #print(dname)
            dreguser=i["registeredUsers"]
            #print(dreguser)
            Table6["Disname"].append(dname)
            Table6["Dreguser"].append(dreguser)
            Table6["States"].append(state)
            Table6["Year"].append(year)
            Table6["Quarter"].append(int(file.strip(".json")))

for i in topuserpth["data"]["pincodes"]:
    pname=i["name"]
    preguser=i["registeredUsers"]
    Table6["Pincode_Name"].append(pname)
    Table6["Pincode_Reguser"].append(preguser)

In [ ]:
Table6

In [43]:
from sqlalchemy import create_engine, text

# Create a SQLAlchemy engine to connect to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://root:@localhost/phonepe')
ex=engine.connect()

# Example: Execute a simple SQL query within a transaction
query_text = "SELECT * FROM mapaggtranscation"
query = text(query_text)

with ex as connection:
    try:
        # Start a transaction
        trans = connection.begin()

        # Execute the query
        result = connection.execute(query)

        # Process the query results or perform other operations...

        # Commit the transaction
        trans.commit()

    except Exception as e:
        # An error occurred, so roll back the transaction
        trans.rollback()
        print(f"Error: {e}")

# Now, you can safely create a new connection or perform other operations.

In [62]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="DatascienceProject098",
)

print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection.MySQLConnection object at 0x00000239C49A0200>

In [86]:
mydb.close()

In [63]:
mycursor.execute("create database if not exists Phonepe")

In [49]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('phonepe',)
('sys',)

In [ ]:
from sqlalchemy.engine import URL
from sqlalchemy import create_engine

In [64]:
alchemydb= create_engine('mysql+mysqlconnector://root:DatascienceProject098@localhost/Phonepe')

#alcone=alchemydb.connect()

In [85]:
alchemydb.dispose()

In [ ]:
query = text("select * from useraggtranscation")

with alchemydb.connect() as exe:
    query1=exe.execute(query)
    for row in query1:
        print(row)

In [ ]:
mycursor.execute('show databases')

for x in mycursor:
    print(x)

In [125]:
alchemydb.dispose()

In [65]:
Map_Transcation_Aggera.to_sql('mapaggtranscation', con = alchemydb, if_exists= 'replace')

-1

In [66]:
Map_User_Agger_Table.to_sql('mapuseraggtranscation', con = alchemydb, if_exists= 'replace')

-1

In [73]:
Agg_Transcation.to_sql('aggtranscation', con = alchemydb, if_exists= 'replace')

-1

In [78]:
User_aggerator_Transcation.to_sql('useraggtranscation', con = alchemydb, if_exists= 'replace')

-1

In [81]:
Top_Transcation_List.to_sql('toptranscation', con = alchemydb, if_exists= 'replace')

-1

In [84]:
Top_User_Table.to_sql('topusertranscation', con = alchemydb, if_exists= 'replace')

-1